.LandingPage {
  min-height: 100vh;
  background: #e5e3df;
}

.LandingPage-mapWrapper {
  position: relative;
  width: calc(100% - 325px - 0.85rem);
  height: calc(77vh - 4.6875rem);
  margin-left: 0.85rem;
  border-bottom: 1px solid #e3e3e3;
}

/*
 ** Animations
 */

.pageChange-leave.LandingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(0);
  transition: 0.6s transform ease;
}

.pageChange-leave-active.LandingPage {
  transform: translateX(100%);
}

.pageChange-enter.LandingPage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform: translateX(100%);
  transition: 0.6s transform ease;
}

.pageChange-enter-active.LandingPage {
  transform: translateX(0);
}

@media screen and (orientation: portrait) {
  .LandingPage-mapWrapper {
    height: calc(86vh - 4.6875rem - 3.25rem);
  }
}
