body {
  margin: 0;
  padding: 1rem;
  font-family: Roboto, sans-serif;
  color: #232323;
  -webkit-font-smoothing: antialiased;
  background: #fff;
}

a {
  color: #d50246;
  text-decoration: none;
}

button {
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

header.page-header {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: border-box;
}