.Overlay-transitionGroup-enter .Overlay,
.Overlay-transitionGroup-leave .Overlay {
  transform: scale(0.7);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.Overlay-transitionGroup-enter-active .Overlay {
  transform: scale(1);
  opacity: 1;
}

.Overlay-transitionGroup-enter.OverlayBackdrop,
.Overlay-transitionGroup-leave.OverlayBackdrop {
  opacity: 0;
  transition: opacity 0.3s;
}

.Overlay-transitionGroup-enter-active.OverlayBackdrop {
  opacity: 1;
}

.OverlayBackdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.Overlay-Wrapper {
  position: fixed;
  display: flex;
  bottom: 3.6875rem;
  left: 50%;
  transform: translateX(-50%);
}

.Overlay {
   position: relative;
  width: calc(100vw - 325px - 24vw);
  max-width: 700px;
  max-height: calc( 100vh - 7.5rem - 1.25rem);
  background: #fff;
  border-radius: 3px;
  padding: 2rem;
}

.OverlayIframe {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  z-index: 201;
}

.Overlay-closeButton-wrapper {
  text-align: right;
  margin-top: -2.8rem;
  margin-bottom: 1rem;
}

.Overlay-closeButton {
  border: 0;
  background: #fff;
  border-radius: 50%;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  line-height: 1.45rem;
  cursor: pointer;
}

.Overlay-closeButton > img {
  width: 12px;
  height: 12px;
}

@media (orientation: portrait) {
  .OverlayIframe {
    top: 47%;
    height: 35%;
  }
}
