.SectionCard {
  padding: 1rem 1rem 0;
  border-bottom: 2.5rem solid #dedddd;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
}

.SectionCard-heading {
  font-size: 3rem;
  margin: 0 0 1rem;
  color: #fff;
  text-align: center;
}

.SectionCard-tagWrapper {
  text-align: left;
  margin-bottom: 1rem;
}

.SectionCard-tag {
  display: inline-block;
  position: relative;
  padding: 0.33rem 1rem;
  margin: 0.2rem;
  font-size: 1.05rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  line-height: 1.05rem;
  white-space: nowrap;
  transform: translate3d(0, 0, 0);
}

.SectionCard-scrollWrapper {
  padding: 0 0.25rem;
  margin: 0 -1rem;
  background: #fff;
  align-self: flex-start;
  width: calc(100% + 2rem);
  margin-top: auto; /* push to bottom, due to display: flex on `.SectionCard` */
}

.SectionCard-postWrapper {
  padding: 0 0.75rem;
}

.SectionCard-post {
  position: relative;
  display: block;
  padding: 0.1rem 0 0.5rem;
  color: #545454;
}

.SectionCard-post::before,
.SectionCard-post::after {
    content: '';
    display: table;
}

.SectionCard-post::after {
    clear: both;
}

.SectionCard-post:first-of-type {
  padding-top: 1rem;
}

.SectionCard-post:last-of-type {
  padding-bottom: 1rem;
}

.SectionCard-postImage {
  float: left;
  width: 38%;
  padding-top: 0.3rem;
  padding-right: 2%
}

.SectionCard-postHeading {
  float: right;
  width: 60%;
  margin: 0 0 0.25rem;
  font-size: 1.4rem;
  line-height: 1.25;
  color: #2f2f2f;
}

.SectionCard-postPreamble {
  float: right;
  width: 60%;
  margin: 0;
  color: #232323;
}


@media screen and (orientation: portrait) {
  .SectionCard-tag {
    min-width: 47%;
    text-align: center;
  }
}
