.SiteFooter {
  position: absolute;
  left: 0.85rem;
  bottom: 0;
  width: calc(100% - 0.85rem);
  height: 3.25rem;
  background: #c70d53;
  text-align: center;
}

.SiteFooter-back-to-start {
  position: relative;
  float: left;
  font-size: 0.875rem;
  padding: 0 1em;
  margin-left: 0.5em;
  line-height: 3.25rem;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.SiteFooterLink-wrapper {
  display: inline-block;
  text-align: center;
  margin-left: -170px;
}

.SiteFooterLink {
  position: relative;
  display: inline-block;
  font-size: 0.875rem;
  padding: 0 1em;
  margin-right: 1.5em;
  line-height: 3.25rem;
  color: #fff;
  background: none;
  border: 0;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.SiteFooterLink:last-of-type {
  margin-right: 0;
}

.SiteFooter:last-of-type {
  margin-right: 0;
}

.SiteFooter-logo {
  width: 130px;
  height: 100%;
  margin-left: 3.35rem;
}

@media screen and (orientation: portrait) {
  .SiteFooter {
    height: 6.5rem;
  }

  .SiteFooter-back-to-start {
    line-height: 6.5rem;
  }

  .SiteFooterLink-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 69%;
    height: 6.25rem;
    overflow: hidden;
  }
}
