.Search-wrapper-transitionGroup-enter.Search-inputWrapper,
.Search-wrapper-transitionGroup-leave.Search-inputWrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Search-wrapper-transitionGroup-enter.Search-inputWrapper--top,
.Search-wrapper-transitionGroup-leave.Search-inputWrapper--top
 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.Search-wrapper-transitionGroup-enter-active.Search-inputWrapper--top {
  opacity: 1;
}

.Search-wrapper-transitionGroup-enter-active.Search-inputWrapper {
  opacity: 1;
}

.Search-inputWrapper {
  position: absolute;
  z-index: 101;
  left: calc(50% - 300px);
  bottom: calc(23vh + 1.4rem);
  width: 350px;
  transition: 0.25s ease-in-out bottom;
}

.Search-inputWrapper--Startpage {
  bottom: 6.5rem;
  transform: translateX(-50%);
  left: 50%;
}

.Search-inputWrapper--local {
  bottom: 16rem;
  transform: translateX(-50%);
  left: 50%;
}

.Search-inputWrapper--visitor {
  bottom: 16rem;
  transform: translateX(-50%);
  left: 50%;
}

.Search-inputWrapper.Search-inputWrapper--isActive {
  bottom: 20.3rem;
}

.Search-inputWrapper--local.Search-inputWrapper--isActive {
  bottom: 20.3rem;
}

.Search-inputWrapper--visitor.Search-inputWrapper--isActive {
  bottom: 20.3rem;
}

@media (orientation: portrait) {
  .Search-inputWrapper--Startpage {
    bottom: 8.5rem;
  }

  .Search-inputWrapper--local {
    bottom: 20.3rem;
  }

  .Search-inputWrapper--visitor {
    bottom: 20.3rem;
  }

  .Search-inputWrapper.Search-inputWrapper--isActive {
    bottom: 20.3rem;
  }

  .Search-inputWrapper--local.Search-inputWrapper--isActive {
    bottom: 20.3rem;
  }

  .Search-inputWrapper--visitor.Search-inputWrapper--isActive {
    bottom: 20.3rem;
  }

}